<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["_content/BitBlazor/bootstrap-italia/css/bootstrap-italia.min.css"]" />
    <link rel="stylesheet" href="_content/BitBlazor/css/fonts.css" />
    <link rel="stylesheet" href="_content/BitBlazor/css/bitblazor.css" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["BitBlazor.Sample.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="@Assets["Components/Account/Shared/PasskeySubmit.razor.js"]" type="module"></script>
    <script src="_content/BitBlazor/bootstrap-italia/js/bootstrap-italia.bundle.min.js"></script>
</body>

</html>
